@media(max-width: 1000px) {
  .codeOutput_c {
    width: 100%;
    font-size: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 1px solid #cccccc;
  }

  .about_description{
    width: 90%;
  }

  .about_title{
    margin-top: 80px;
    margin-bottom: 30px;
  }
}